services:
  db:
    container_name: postgres_container
    image: postgres:14.17
    ports:
      - 5000:5432
    environment:
      POSTGRES_DB: post_db
      POSTGRES_USER: post_user
      POSTGRES_PASSWORD: post_password
    volumes:
      - ./postgres/data:/var/lib/postgressql/data
